@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');

body{
    font-family: "Vazirmatn",sans-serif;
    box-sizing: border-box;

}
.container{
    position: relative;
    max-width: 1167px;
    padding: 0 15px;
    margin: 0 auto;

}
header{
    width: 100%;
    background-color: white;
}
.nav{
    border: 1px solid white;
    width: 25%;
    text-decoration: none;
    color: black;
    background-color:white;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
}
.nav{
    transition:all 1s ease;
}
.nav:hover
{
    background-color: red;
    color: white;
}
.nav:active
{
    background-color: #cc0000;
    color: white;
}
.main1{
    background-color: black;
}
.main2{
    background-color: white;
}
.main3{

    background-color: white;
}

#hello{
    position: relative;
    width: 100%;
    /*border: 4px solid rebeccapurple;*/
    height: 750px;
}
.info{
    position: absolute;
    left: 0;
    width: 55%;
    /*border: 1px solid blue;*/
    background-color: black;
    color: white;
    height: 100%;
}
h1{
    /*border: 2px solid fuchsia;*/
    margin: 100px 0px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-size: 54px;
    line-height: 54px;
}
h2{
    font-size: 1px;
    font-size: 20px;
    width: 90%;
    line-height: 20px;
}
.alemasina{
    position: absolute;
    left: 55%;
    /*border: 1px solid red;*/
    background: url("../img/coach.jpg") 0% 0%/100% 100% no-repeat;
    height: 100%;
    width: 45%;
}
.alemasina::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.Dialog > button{
    border-radius: 1em;
    width: 50%;
    align-self: center;
    background-color: red;
    height: 50px;
    transform: scale(1);
    transition: all 1s ease;
}
#suka{
    color: white;
    text-transform: uppercase;
}
.Dialog > button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 23px 0px rgba(0, 144, 255, 1);}
.Dialog{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.alemo{
    border: 1px solid white;
    height: 65px;
    display: flex;
    background-color: white;
    justify-content:space-between;
    font-weight:bold;

}
.comments{
    width: 100%;
    background-color: white;
    margin-top: 100px;
}
.why{
    font-size: 20px;
    color: #5c5c5c;
}
.swag{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #060508;
}
.content{
    margin-top: 70px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 55%;
}
.icon{
    width: 50px;
    height: 50px;
}
#children{
    width: 400px;
    height: 400px;
}
.items{
    display: flex;
    flex: 45%;
    flex-flow: column wrap;
    justify-content: space-between;
}
.item-text{
    padding-top: 20px;
    font-size: 15px;
}
.sale{
    margin-top: 40px;
    font-size: 40px;

    font-weight: bold;
    color: #060508;
    text-transform: uppercase;
}
.saleoffers{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.offers{
    font-size: 20px;
    color: #5c5c5c;
    width: 40%;
    margin-top: 40px;
    font-family: "Vazirmatn", sans-serif;
}
.offers_title{
    margin-top: 20px;
}
.take_sale{
    font-size: 23px;
    color: #5c5c5c;
    margin-top: 40px;
    font-family: "Vazirmatn", sans-serif;
}
.forform{
    margin-top: 40px;
    width: 55%;
}
.name{
    margin-top: 10px;
}
.penis{
    margin-top: 10px;
}
.agree{
    margin:auto;
    margin-top: 40px;
    display: flex;
}
.sub1{
    justify-self: center;
}
input[name='name1']{
    border: 2px solid grey;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    margin: auto;
    font-size: 18px;
}
input[name='penis']{
    border: 2px solid grey;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    margin: auto;
    font-size: 18px;
}
input[name='agree'] {
    border: 2px solid grey;
    height: 25px;
    font-size: 18px;
}
.sub1{
    margin-top: 40px;
}
.sub1 > button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 23px 0px rgba(0, 144, 255, 1);}
.sub1 > button{
    border-radius: 1em;
    height: 45px;
    width: 30%;
    transform: scale(1);
    transition: all 1s ease;
    background-color: red;
}
#sub1{
    font-size: 95%;
    color: white;
    text-transform: uppercase;
}
.custom-checkbox {
    font-size: 20px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
#sosa{
    font-size: 20px;
}
#mikefury315{
    color: #cc0000;
}
#mikefury315:hover{
    text-decoration: underline;
}

.main4{
    background-color: white;
}

.rep{
    color: black;
}
.reviews{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.face{
    height: 100px;
    width: 100px;
}
.otziv{
    margin-top: 30px;
    width: 45%;
    border: 1px solid blue;
}
.forFace{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#gurbatFace{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 4em;
}