@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap');

body{
    font-family: "Vazirmatn",sans-serif;
    box-sizing: border-box;

}
.container{
    position: relative;
    max-width: 1167px;
    padding: 0 15px;
    margin: 0 auto;

}
header{
    width: 100%;
    background-color: white;
}
.nav{
    border: 1px solid white;
    width: 25%;
    text-decoration: none;
    color: black;
    background-color:white;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
}
.nav{
    transition:all 1s ease;
}
.nav:hover
{
    background-color: red;
    color: white;
}
.nav:active
{
    background-color: #cc0000;
    color: white;
}
.main1{
    background-color: black;
}
.main2{
    background-color: white;
}
.main3{

    background-color: white;
}

#hello{
    position: relative;
    width: 100%;
    /*border: 4px solid rebeccapurple;*/
    height: 750px;
}
.info{
    position: absolute;
    left: 0;
    width: 55%;
    /*border: 1px solid blue;*/
    background-color: black;
    color: white;
    height: 100%;
}
h1{
    /*border: 2px solid fuchsia;*/
    margin: 100px 0px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-size: 54px;
    line-height: 54px;
}
h2{
    font-size: 1px;
    font-size: 20px;
    width: 90%;
    line-height: 20px;
}
.alemasina{
    position: absolute;
    left: 55%;
    /*border: 1px solid red;*/
    background: url("../img/coach.jpg") 0% 0%/100% 100% no-repeat;
    height: 100%;
    width: 45%;
}
.alemasina::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.Dialog > button{
    border-radius: 1em;
    width: 50%;
    align-self: center;
    background-color: red;
    height: 50px;
    transform: scale(1);
    transition: all 1s ease;
}
#suka{
    color: white;
    text-transform: uppercase;
}
.Dialog > button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 23px 0px rgba(0, 144, 255, 1);}
.Dialog{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.alemo{
    border: 1px solid white;
    height: 65px;
    display: flex;
    background-color: white;
    justify-content:space-between;
    font-weight:bold;

}
.comments{
    width: 100%;
    background-color: white;
    margin-top: 100px;
}
.why{
    font-size: 20px;
    color: #5c5c5c;
}
.swag{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #060508;
}
.content{
    margin-top: 70px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 55%;
}
.icon{
    width: 50px;
    height: 50px;
}
#children{
    width: 400px;
    height: 400px;
}
.items{
    display: flex;
    flex: 45%;
    flex-flow: column wrap;
    justify-content: space-between;
}
.item-text{
    padding-top: 20px;
    font-size: 15px;
}
.sale{
    margin-top: 40px;
    font-size: 40px;

    font-weight: bold;
    color: #060508;
    text-transform: uppercase;
}
.saleoffers{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.offers{
    font-size: 20px;
    color: #5c5c5c;
    width: 40%;
    margin-top: 40px;
    font-family: "Vazirmatn", sans-serif;
}
.offers_title{
    margin-top: 20px;
}
.take_sale{
    font-size: 26px;
    color: #5c5c5c;
    margin-top: 40px;
    font-family: "Vazirmatn", sans-serif;
}
.forform{
    margin-top: 40px;
    width: 55%;
}
.name{
    margin-top: 10px;
}
.penis{
    margin-top: 10px;
}
.agree{
    margin:auto;
    margin-top: 40px;
    display: flex;
}
.sub1{
    justify-self: center;
}
input[name='name1']{
    border: 2px solid grey;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    margin: auto;
    font-size: 18px;
}
input[name='penis']{
    border: 2px solid grey;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    margin: auto;
    font-size: 18px;
}
input[name='agree'] {
    border: 2px solid grey;
    height: 25px;
    font-size: 18px;
}
.agreements{
    font-size: 20px;
    color: #5c5c5c;
    font-family: "Vazirmatn", sans-serif;
}
.sub1{
    margin-top: 40px;
}
input[name='sub1'] {
    border-radius: 7px;
    height: 45px;
    width: 50%;
    background-color: red;
    color: white;
    font-size: 18px;
}